/*
* This file is provided for application-specific style rules.
*
* By default, Maqetta includes this CSS file within HTML pages
* authored in Maqetta.
*
* This file is typically used to override style rules found in
* theme CSS files. For example, suppose the theme CSS file has:
*
* .claro .dijitButton .dijitButtonNode {
*		padding:2px 4px 4px 4px;
* }
*
* But for your application suppose you want to tighten the padding
* for buttons. Then, you might include the following style rule
* in this file (assuming that you accept Maqetta's default where
* id "myapp" is present on the BODY element, and assuming
* that you are using the "claro" theme):
*
* #myapp.claro .dijitButton .dijitButtonNode {
*		padding:1px 3px 3px 3px;
* }
*
* Because of CSS precedence rules (see [1]), the above style rule
* (which begins with #myapp.claro) will "win the cascade" versus 
* the style rule from the theme CSS file due to the use of the
* ID select (#myapp), which has higher specificity than the class
* selectors used throughout the Claro theme.
*
* [1] http://www.w3.org/TR/CSS21/cascade.html#cascade
*/
html, body {
    height : 100%;
    width : 100%;
}

#myapp.claro .aaa.dijitButton .dijitButtonNode {
    width : 100%;
}
#myapp.claro .aaa.dijitDropDownButton .dijitButtonNode {
    background-color : #a35656;
}

/* set width for MenuItemIcon  */
.claro td.dijitMenuItemIconCell {
	width: 20px;
}

.claro .dijitDialogUnderlay {
	/*background: black;*/
	opacity: 0.8;
	background-image: url(/img/page_bg.png);
	background-repeat: repeat;
	background-color: black;

}

.claro .dijitDialog {
  border: 1px solid #759dc0;
	-webkit-box-shadow: -1px 1px 10px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    -1px 1px 10px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         -1px 1px 10px 0px rgba(50, 50, 50, 0.75);	
}

/* pre-loader specific stuff to prevent unsightly flash of unstyled content */
#loader {
        padding: 0;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ededed;
        z-index: 999;
        vertical-align: middle;
}

#loaderInner {
        padding: 5px;
        position: relative;
        left: 0;
        top: 0;
        width: 175px;
        background: #3c3;
        color: #fff;
}

pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, с 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ поддерживается в IE, Safari, и Firefox 3.1.*/
}

.webIcon {
	background-image: url('/img/web.gif');
	width: 16px;
	height: 16px;
}

.mailIcon {
	background-image: url('/img/mail.gif');
	width: 16px;
	height: 16px;
}

.mysqlIcon {
	background-image: url('/img/db.gif');
	width: 16px;
	height: 16px;
}

.domain_addIcon {
	background-image: url('/img/domain.gif');
	width: 16px;
	height: 16px;
}


.dnsIcon {
	background-image: url('/img/dns.gif');
	width: 16px;
	height: 16px;
}

.web_tariffIcon {
	background-image: url('/img/folder.gif');
	width: 16px;
	height: 16px;
}

.transferIcon {
	background-image: url('/img/folder.gif');
	width: 16px;
	height: 16px;
}

.domain_prolongIcon {
	background-image: url('/img/folder.gif');
	width: 16px;
	height: 16px;
}

.bhm_enterIcon {
	background-image: url('/img/bhm_enter.gif');
	width: 16px;
	height: 16px;
	cursor: pointer;
}

/* Menu Icons */
.menu_paysIcon {
	background-image: url('/img/menu/pays.gif');
	width: 16px;
	height: 16px;
}

.menu_paymentsIcon {
	background-image: url('/img/menu/payments_16.gif');
	width: 16px;
	height: 16px;
}

.menu_discountsIcon {
	background-image: url('/img/menu/discounts.png');
	width: 16px;
	height: 16px;
}
	
.menu_documentsIcon {
	background-image: url('/img/menu/documents.gif');
	width: 16px;
	height: 16px;
}

.menu_profileIcon { background-image: url('/img/documents/file-private_16.png'); width: 16px; height: 16px; }
.menu_dogovorIcon { background-image: url('/img/documents/dogovor.gif'); width: 16px; height: 16px; }
.menu_creditBalanceIcon { background-image: url('/img/documents/credit-balance_16.gif'); width: 16px; height: 16px; }


.menu_registerIcon {
	background-image: url('/img/menu/register.png');
	width: 16px;
	height: 16px;
}
.menu_mydomainsIcon {
	background-image: url('/img/menu/my_domains.png');
	width: 16px;
	height: 16px;
}
.menu_mysitesIcon {
	background-image: url('/img/menu/my_sites.png');
	width: 16px;
	height: 16px;
}
.menu_mailIcon {
	background-image: url('/img/menu/my_mail.gif');
	width: 16px;
	height: 16px;
}

.menu_mailIcon2 {
	background-image: url('/img/hosting/mail.gif');
	width: 16px;
	height: 16px;
}

.menu_tiketsIcon {
	background-image: url('/img/menu/question.gif');
	width: 16px;
	height: 16px;
}
.menu_supportIcon {
	background-image: url('/img/menu/support.gif');
	width: 16px;
	height: 16px;
}

.menu_passwordsIcon {
	background-image: url('/img/menu/passwords.png');
	width: 16px;
	height: 16px;
}

.menu_csIcon {
	background-image: url('/img/cs.png');
	width: 16px;
	height: 16px;
}

.menu_resellerIcon {
	background-image: url('/img/menu/reseller_16.gif');
	width: 16px;
	height: 16px;
}

.menu_gotoResellerIcon {
	background-image: url('/img/menu/resseling/goto_panel.gif');
	width: 16px;
	height: 16px;
}


.menu_resellerPaymentsIcon {
	background-image: url('/img/menu/reseller_payments.gif');
	width: 16px;
	height: 16px;
}

.menu_exitIcon {
	background-image: url('/img/menu/logout.gif');
	width: 16px;
	height: 16px;
	margin-right: -13px;
}

.menu_sshIcon {
	background-image: url('/img/menu/ssh_16.gif');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.menu_databasesIcon {
	background-image: url('/img/menu/databases_16.gif');
	width: 16px;
	height: 16px;
}

.menu_dnsIcon {
	background-image: url('/img/menu/dns_16.gif');
	width: 16px;
	height: 16px;
}

.menu_tariffIcon {
	background-image: url('/img/menu/tariff_16.gif');
	width: 16px;
	height: 16px;
}
.menu_ftpIcon {
	background-image: url('/img/menu/ftp_16.gif');
	width: 16px;
	height: 16px;
}
.menu_hostingIcon {
	background-image: url('/img/menu/hosting.gif');
	width: 16px;
	height: 16px;
}
.menu_domainaddIcon {
	background-image: url('/img/menu/domain_add.gif');
	width: 16px;
	height: 16px;
}

.menu_domaindelIcon { background-image: url('/img/domain/domain_delete.gif'); width: 16px; height: 16px;}

.menu_domainManageIcon { background-image: url('/img/domain/manage_domains_16.gif'); width: 16px; height: 16px;}
.menu_domainSubIcon { background-image: url('/img/domain/subdomain_16.gif'); width: 16px; height: 16px;}

.menu_domainprolongIcon {
	background-image: url('/img/menu/domain_prolong.gif');
	width: 16px;
	height: 16px;
}
.menu_statIcon {
	background-image: url('/img/menu/stats_16.gif');
	width: 16px;
	height: 16px;
}

.menu_refreshIcon {
	background-image: url('/img/menu/refresh.gif');
	width: 16px;
	height: 16px;
}

.menu_collapseAllIcon {
	background-image: url('/img/menu/collapseAll.gif');
	width: 16px;
	height: 16px;
}

.btn_refresh {
	background-image: url('/img/menu/refresh.gif');
	width: 16px;
	height: 16px;
	position: absolute;
	right: 20px;
        width: 16px;
	cursor: pointer;
}

.btn_saveIcon {
	background-image: url('/img/save.png');
	width: 16px;
	height: 16px;
}

.btn_field_addIcon {
	background-image: url('/img/utils/field_add.gif');
	width: 16px;
	height: 16px;
}

.btn_field_removeIcon {
	background-image: url('/img/utils/field_remove.gif');
	width: 16px;
	height: 16px;
}


.tree_row_class {
	font-weight: bold;

}

.save_act_Icon {
	background-image: url('/img/save.png'); 
	width: 16px; 
	height: 16px;
	cursor: pointer;
}

.pma_Icon {
	background-image: url('/img/mysql/db/phpmyadmin.png'); 
	width: 16px; 
	height: 16px;
	cursor: pointer;
}

.tbl_tariff {

	margin-left: 24px;
}

.tbl_tariff tr td a {
	text-decoration: none;
	/*border-bottom: 1px dashed #000080;*/
	cursor: pointer;
	color: black;
}

.tbl_tariff tr td a:hover {
	color: black;
	font-weight: bold;
	
}

.app_joomla_Icon { background-image: url('/img/apps/joomla.png'); width: 32px; height: 32px; }


.clients_Icon { background-image: url('/img/mysql/users/users.gif'); width: 16px; height: 16px;}

.menu_creditOrdersIcon { background-image: url('/img/documents/invoice_16.gif'); width: 16px; height: 16px;}

.default_fileIcon { background-image: url('/img/file_types/file-unknown_16.gif'); width: 16px; height: 16px;}
.arch_fileIcon { background-image: url('/img/file_types/file-arch_16.gif'); width: 16px; height: 16px;}
.html_fileIcon { background-image: url('/img/file_types/file-html_16.gif'); width: 16px; height: 16px;}
.image_fileIcon { background-image: url('/img/file_types/file-image_16.gif'); width: 16px; height: 16px;}
.php_fileIcon { background-image: url('/img/file_types/file-php_16.gif'); width: 16px; height: 16px;}
.audio_fileIcon { background-image: url('/img/file_types/file-audio_16.gif'); width: 16px; height: 16px;}
.video_fileIcon { background-image: url('/img/file_types/file-video_16.gif'); width: 16px; height: 16px;}
.text_fileIcon { background-image: url('/img/file_types/file-txt_16.gif'); width: 16px; height: 16px;}
.pdf_fileIcon { background-image: url('/img/file_types/file-pdf_16.gif'); width: 16px; height: 16px;}
.word_fileIcon { background-image: url('/img/file_types/file-word_16.gif'); width: 16px; height: 16px;}
.excel_fileIcon { background-image: url('/img/file_types/file-xls_16.gif'); width: 16px; height: 16px;}

.javascript_fileIcon { background-image: url('/img/file_types/file-unknown_16.gif'); width: 16px; height: 16px;}
.xml_fileIcon { background-image: url('/img/file_types/file-unknown_16.gif'); width: 16px; height: 16px;}
.css_fileIcon { background-image: url('/img/file_types/file-unknown_16.gif'); width: 16px; height: 16px;}
.json_fileIcon { background-image: url('/img/file_types/file-unknown_16.gif'); width: 16px; height: 16px;}

.delete_ftpIcon { background-image: url('/img/ftp/delete.png'); width: 16px; height: 16px;}
.download_ftpIcon { background-image: url('/img/ftp/download.png'); width: 16px; height: 16px;}
.edit_ftpIcon { background-image: url('/img/ftp/edit.png'); width: 16px; height: 16px;}
.info_ftpIcon { background-image: url('/img/ftp/info.png'); width: 16px; height: 16px;}
.newfile_ftpIcon { background-image: url('/img/ftp/new.png'); width: 16px; height: 16px;}
.newfolder_ftpIcon { background-image: url('/img/ftp/folder-add.png'); width: 16px; height: 16px;}
.rename_ftpIcon { background-image: url('/img/ftp/rename.png'); width: 16px; height: 16px;}
.upload_ftpIcon { background-image: url('/img/ftp/upload.png'); width: 16px; height: 16px;}

.watch_ftpIcon { background-image: url('/img/ftp/editor/watch.png'); width: 16px; height: 16px;}
.find_ftpIcon { background-image: url('/img/ftp/editor/find.png'); width: 16px; height: 16px;}
.new_ftpIcon { background-image: url('/img/ftp/editor/new.png'); width: 16px; height: 16px;}
.print_ftpIcon { background-image: url('/img/ftp/editor/print.png'); width: 16px; height: 16px;}
.save_ftpIcon { background-image: url('/img/ftp/editor/save.png'); width: 16px; height: 16px;}


.databases_mysqlIcon { background-image: url('/img/mysql/db/databases_16.gif'); width: 16px; height: 16px;}
.adddb_mysqlIcon { background-image: url('/img/mysql/db/db_add_16.gif'); width: 16px; height: 16px;}
.deldb_mysqlIcon { background-image: url('/img/mysql/db/db-remove_16.gif'); width: 16px; height: 16px;}
.export_mysqlIcon { background-image: url('/img/mysql/db/database-backup_16.gif'); width: 16px; height: 16px;}

.users_mysqlIcon { background-image: url('/img/mysql/users/users.gif'); width: 16px; height: 16px;}
.adduser_mysqlIcon { background-image: url('/img/mysql/users/user_add_16.gif'); width: 16px; height: 16px;}
.deluser_mysqlIcon { background-image: url('/img/mysql/users/user_delete_16.gif'); width: 16px; height: 16px;}
.passwd_mysqlIcon { background-image: url('/img/mysql/users/user_pass.png'); width: 16px; height: 16px;}

.add_mailIcon { background-image: url('/img/mail/mail_add.gif'); width: 16px; height: 16px;}
.edit_mailIcon { background-image: url('/img/mail/mail_edit.gif'); width: 16px; height: 16px;}
.del_mailIcon { background-image: url('/img/mail/mail_del.gif'); width: 16px; height: 16px;}
.link_mailIcon { background-image: url('/img/mail/mail_link.png'); width: 16px; height: 16px;}

.row label { float: left; width: 150px; margin-top: 3px; margin-right: 10px;}
.row { margin-left: 10px; margin-bottom: 10px;}

.row_short label { float: left; width: 50px; margin-right: 10px;}
.row_short { margin-left: 10px; margin-bottom: 10px;}

.hosting_icon {clear:both;}
.hosting_icon img { float: left; width: 32px; margin-right: 15px;}
.hosting_title { color:#000000;font-size:18px; text-align:left; margin-bottom:5px;}

.hosting_h { float: left; color:#000000; width: 150px; font-size:18px; text-align:left; margin-top: 5px; margin-bottom:5px; margin-right: 10px; }

.hosting_text label { float: left; width: 120px; margin-top:0px; margin-right: 10px;}
.hosting_text { margin-left: 25px; margin-bottom: 5px; }

.domains_text div { margin-left: 80px; margin-bottom: 5px; font-weight: bold; }
.domains_text label { float: left; width: 45px; margin-top:0px; margin-right: 5px; }

.href_left {  float: left; margin-left: 25px; margin-bottom: 15px; }
.href_right { margin-left: 200px; margin-bottom: 15px; }

.tiket_msg_resp { 
	padding: 15px;
	/* border-radius:10px;*/
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	background:white;
	margin-left:10px;
	border:solid 1px gray;
	margin-top:10px; 
	margin-bottom:10px; 
	width:400px; 
	white-space: pre-wrap; 
	box-shadow: 1px 1px 10px blue;
	/*font-size:10pt;
	font-family: "Times New Roman", Times, serif;*/
}

.tiket_msg_answ { 
	padding: 15px;
	/* border-radius:10px;*/
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	background:#FFFFCC;
	margin-left:400px;
	border:solid 1px gray;
	margin-top:10px; 
	margin-bottom:10px; 
	width:400px; 
	white-space: pre-wrap; 
	box-shadow: 1px 1px 10px blue;
	/*font-size:10pt;
	font-family: "Times New Roman", Times, serif;*/
}


.column {
	-webkit-column-width: 50%;
	-moz-column-width: 50%;
	column-width: 50%;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 30px;
	-moz-column-gap: 30px;
	column-gap: 30px;
	-webkit-column-rule: 1px solid #ccc;
	-moz-column-rule: 1px solid #ccc;
	column-rule: 1px solid #ccc;
}

hr {
	border: 0;
	height: 0;
	margin-top: 25px;
	margin-bottom: 15px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

hr.vertical {
	margin-top: 0;
	background-color:#ccc;
	color:#ccc;
	width:1px;
	height:100%;
}

ul.ul_left {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	list-style-type: none;
	/*list-style-postion: outside;*/
	
	/*background: url("/img/hosting/change_tariff.gif") left center no-repeat;*/
	
	/*padding-left: 14px;
	margin-left: 24px;*/
}

ul.ul_right {
	margin-left: 200px;
	margin-top: 0px;
	margin-bottom: 0px;
	list-style-type: none;
}

ul.ul_left a {
	text-decoration: none;
	border-bottom: 1px dashed #000080;
	cursor: pointer;
	color: black;
	/*padding-top: 0px;*/
	margin-top: 0px;
	/*position: absolute;*/
}



ul.ul_right a {
	text-decoration: none;
	border-bottom: 1px dashed #000080;
	cursor: pointer;
	color: black;
}


ul.ul_left a:hover {
	color: black;
	font-weight: bold;
	/*text-decoration: none;
	border-bottom: 1px dashed #000080;*/
}

ul.ul_right a:hover {
	color: black;
	text-decoration: none;
	border-bottom: 1px dashed #000080;
}
 
div.app_row {
	margin-bottom: 3px;
}

div.app_row a {
	color:black;text-decoration:none;border-bottom: 1px dashed #000080;
}

.hosting_tariff {
	width: 200px;
	border: 1px solid #ccc;
	padding: 15px 20px; 
	background: white;
	border-radius: 0px;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	float: left;
	cursor:pointer;
}

.hosting_tariff#min {
	border: 1px solid blue;
	/*background-image: url('/img/tariff/host_start.png');*/
}
.hosting_tariff#min:hover {box-shadow: 2px 2px 10px blue; }

.hosting_tariff#mid {
	border: 1px solid green;
}
.hosting_tariff#mid:hover {box-shadow: 2px 2px 10px green; }

.hosting_tariff#max {
	border: 1px solid orange;
}
.hosting_tariff#max:hover {box-shadow: 2px 2px 10px orange; }

.hosting_tariff#lux {
	border: 1px solid red;
}
.hosting_tariff#lux:hover {box-shadow: 2px 2px 10px red; }

.hosting_tariff h2 {
	margin-top: 0px;
	/*border-bottom: 1px dotted #ba0000;*/
	font-weight: bold; 
}

.ssl_Icon { background-image: url('/img/tariff/ssl-cert_16.gif'); width: 16px; height: 16px; }
.apps_Icon { background-image: url('/img/tariff/installed-apps_16.png'); width: 16px; height: 16px; }
.mirror_Icon { background-image: url('/img/tariff/mirror.gif'); width: 16px; height: 16px; }
.firewall_Icon { background-image: url('/img/tariff/firewall_16.gif'); width: 16px; height: 16px; }
.manager_Icon  { background-image: url('/img/tariff/manager.gif'); width: 16px; height: 16px; }
.ok_Icon  { background-image: url('/img/tariff/on_16.png'); width: 16px; height: 16px; }
.add_tariff_Icon  { background-image: url('/img/hosting/add-new_16.gif'); width: 16px; height: 16px; }



.tariff_option {
	margin-top: 15px;
}
.tariff_option div {
	margin-bottom: 5px;
}
.tariff_option p {
	position:relative;
	margin-top: 0px;
	top: 0px;
	left: 25px;
	width: 200px;
}

/*
.domain_label label.idn { float: right; padding-right:14px; background:url(/img/idn-ico.gif) no-repeat right 2px}
*/

/*  REG DOMAINS */
.domain_label {
	width: 140px;
	border: 1px solid #ccc;
	padding: 10px 10px; 
	background: white;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 0px;
	float: left;
	/*cursor:pointer;*/
	height: 20px;
	/*background: #00CC00;
	background: red;*/
}
.domain_label label { margin-left: 5px; margin-top: 5px; }
.domain_label div.cost { display: block; float: right; font-size: 10px; color: gray; font-weight: bold; }
.domain_label div.order { display: none; cursor: pointer; float: right; border: 2px solid #a1a1a1; padding: 2px 5px; background: #ffffff; width: 50px; text-align: center; border-radius: 12px; color: black; }
.domain_label div.order:hover { font-weight: bold; background: #E0E0E0; }

/*
.domain_order {
	color: white;
	background: #009900;
}
.domain_order label { margin-left: 5px; margin-top: 5px; }
.domain_order div.cost { display: none; background: white; }
.domain_order div.order { display: block; }

.order { cursor: pointer; }
*/

 /* WORKAREA *//* LOGIN */body.login-body {background:#FFFFFF;font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;}
 .login-table {margin-bottom:3px;width:245px;}
 .register-table {margin-bottom:3px;width:400px;}
 .login-title-l {width:8px;}
 .login-title {background:#000000 url('ft-center.png');color:#FFFFFF;font-size:12px;font-weight:bold;padding-left:10px;}
 .login-title-r {width:8px;}
 .login-content {background:url('../login-bg.gif');border:1px solid #000000;border-top:0px;}
 .login-error-title {color:#C50000;font-size:11px;font-weight:bold;padding:3px;text-align:right;vertical-align:top;width:35%;}
 .login-error-content {color:#C50000;font-size:11px;padding:3px;}
 .login-field-title {color:#000000;font-size:11px;padding:3px;text-align:right;width:35%;}
 .login-field-content {color:#000000;font-size:11px;padding:3px;}
 .login-field-content a { color: #000000;}
 .login-button {background:#D4D0C8;border-bottom:solid 1px #808080;border-left:solid 1px #FFFFFF;border-right:solid 1px #808080;border-top:solid 1px #FFFFFF;color:#393939;font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;font-weight:normal;margin:10px 0px;padding:4px;}
 .login-register {padding-bottom:12px;}
 .login-input {border:solid 1px #000000;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;font-weight:normal;outline:4px;}
 .login-copy {font-size:11px;}
 .login-copy a {color: #000000;}
 table.login-help {margin:10px;}
 table.login-help td {font-size:11px;}

.editor {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
	height: 94%;
	width: 100%;
}



