.menu_dnsAddIcon { background-image: url('/modules/dns/img/dns_16.gif');
        width: 16px;
	height: 16px;
 }
.menu_dnsEditIcon { background-image: url('/modules/dns/img/dns-edit_16.gif'); 
        width: 16px;
	height: 16px;
}
.menu_dnsDelIcon { background-image: url('/modules/dns/img/delete_16.gif'); 
        width: 16px;
	height: 16px;
}

